.blocktxt {
background-color: gray; width: 1000px; height: 1500px;
margin:0 auto;
text-align: center;
padding-top: 30px;
 padding-bottom: 30px;
text-indent: 11px;
border-radius: 15px;
border: 5px;
}

.ramkaverx{ position:fixed; top: 1px;
  background-color: black; width: 1900px; height: 150px;
  margin:0 auto;

}

.ramkaniz{ position:fixed; bottom: 1px;
  background-color: black; width: 1900px; height: 150px;
  margin:0 auto;

}
